.nav-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a1a1f;
  color: white;
  height: 50px;
}
.tab-img{
  width: auto;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
